<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Game Space Tracker</title>
    <link rel="icon" type="image/png" href="/src/images/GSTlogo.png">

    <!--<link
      rel="stylesheet"
      href="https://bootswatch.com/5/zephyr/bootstrap.min.css"
    />-->
    <link rel="authors" href="/public/" />

</head>
<body>
    <div class="container-fluid p-0.5">
      <div class="row">
        {{{body}}}
      </div>
    </div>
</body>
</html>
